{% extends 'base.html' %}

{% block body %}
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">
      <img alt="WebUI" src="{{url_for('.static', filename='cs35.jpg')}}" align="left" height="35" width="35">
        &nbsp; Information Operation(IO) Thai Twitter
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <br>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="IO Detector">
          <a class="nav-link" href="/">
            <i class=" fa fa-fw fa-user-secret "></i>
            <span class="nav-link-text">IO Detector</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Charts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
          <ul class="sidenav-second-level collapse" id="Charts">
            <li>
                <a href="/dashboard1">Top 10 IO Tweet</a>
                <a href="/dashboard2">Top 10 IO Location </a>
                <a href="/dashboard3">Top 10 IO Profile description</a>
                <a href="/dashboard4">Top 10 IO Tweet pattern and aspect</a>
                <a href="/dashboard5">Top 10 IO Most used word</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Members">
          <a class="nav-link" href="/member">
            <i class="fa fa-fw fa-address-book"></i>
            <span class="nav-link-text">Members</span>
          </a>
        </li>
      </ul>

      <!-- LEFT Bar expand -->
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
     
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><img alt="WebUI" src="{{url_for('.static', filename='cs100.png')}}" align="left">Computer Science</h1>
        </br>
          <p class="lead">King Mongkut's Institute of Technology Ladkrabang<br><br>
           Top 10  Pattern and Aspect of IO ex. Attack with negetive tweet, Spoil Army by positive tweet  .</p>
        </div>
        
   </div>

   
   
 <div class="row">
  
    <script type='text/javascript' src='https://prod-apsoutheast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1536px; height: 669px;'><object class='tableauViz' width='1536' height='669' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-apsoutheast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;iodetector' /><param name='name' value='dash_3&#47;Sheet5' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div></div>
  </div>
</div>
        


   </div>

      
   </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Alexey Nizhegolenko 2018 / Or put what you want here, it under MIT license.</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  
  
  </div>
</body>
{% endblock %}
